<ion-content>
  <ion-grid class="tabs-area">
    <ion-row>
      <ion-col size="12" class="name-heading ion-text-center">
        <p>Legend Pay Wallet</p>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row class="balance-row">
      <ion-col size="12" class="ion-text-center">
        <div class="balance-wrapper">
          <p>Available Balance</p>
          <h1><ion-icon src="assets/imgs/naira.svg"></ion-icon> {{balance?.balance}}<ion-spinner *ngIf="!balance" name="dots"></ion-spinner></h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="wallet-action-row">
      <ion-col size="12" class="ion-text-center">
        <div tappable (click)="openSearchMerchantModal()" class="wallet-action">
          <ion-icon src="assets/imgs/payment.svg"></ion-icon>
          <p>Payment</p>
        </div>
        <div tappable (click)="openSearchUserForTransferModal()" class="wallet-action">
          <ion-icon src="assets/imgs/transfer.svg"></ion-icon>
          <p>Transfer</p>
        </div>
        <div tappable (click)="openTopUpModal()" class="wallet-action">
          <ion-icon src="assets/imgs/fund.svg"></ion-icon>
          <p>Fund</p>
        </div>
        <div tappable (click)="openSearchForFriendModal()" class="wallet-action">
          <ion-icon src="assets/imgs/payment-friend.svg"></ion-icon>
          <p>Pay for a Friend</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="recent-trans-row">
      <ion-col size="12">
        <p><span>Recent Transactions</span> <span class="see-all" tappable (click)="openSeeAllTransactionsModal()">See all</span></p>
        <div class="transactions-list" *ngIf="transactions?.length > 0">
          <div 
          class="transaction" 
          *ngFor="let transaction of transactions | slice:0:4" >
            <ion-row>
              <ion-col size="2">
                <ion-icon class="circle" src="assets/imgs/circle-add.svg"></ion-icon>
              </ion-col>
              <ion-col class="trans-name">
                <h6>{{transaction.type}}</h6>
                <p>{{transaction.product.substring(0,30)}}<span *ngIf="transaction.product.length >= 31">...</span></p>
              </ion-col>
              <ion-col size="5" class="ion-text-right amount-date">
                <h4>
                  <span [ngStyle]="{'background-color':transaction.status === 'Success' ? '#054e1c' : '#a20a0a'}">
                    <ion-icon src="assets/imgs/naira.svg"></ion-icon>{{transaction.amount}}
                  </span>
                </h4>
                <p>{{transaction.date}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
        
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-spinner class="trans-spinner" *ngIf="transactions?.length <= 0" name="dots"></ion-spinner>
</ion-content>