.balance-wrapper{
  width: 100%;
  height: 6rem;
  background-color: var(--ion-color-primary);
  // border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  padding-top: 1rem;

  ion-icon{
    font-size: 2rem;
  }

  p, h1{
    margin: 0px;
    font-weight: bolder;
  }

  p{
    font-size: 0.7rem;
  }

  h1{
    //font-family: SourceSansPro-Light;//MuliBold;
    font-weight: lighter;
    font-size: 3.2rem; //2.7rem;
  }
}

.wallet-action-row{
  margin: 0.1rem -1.5rem;

  div:last-child{
    // p{
    //   font-size: 0.8rem;
    //   //letter-spacing: 0.00005rem;
    //   margin-left: -1rem;
    // }
  }

  .wallet-action{
    display: inline-block;
    text-align: center;
    width: 24%;  //30%;

    ion-icon{
      font-size: 50px;
    }

    p{
      margin: 0px;
      font-size: 0.9rem;
      font-weight: lighter;
    }

  }
}

.recent-trans-row{

  letter-spacing: 0.05rem;

  p{
    margin-bottom: 2vh;
    font-size: 0.8rem;
    font-weight: bolder;

    span.reload{
      position: relative;
      color: var(--ion-color-primary);
      
      .list-spinner{
        position: absolute;
        top: -0.2rem;
        right: -2rem;
      }
    }

    span.see-all{
      float: right;
      color: var(--ion-color-primary);
    }
  }

  .transactions-list{
    background-color: var(--ion-color-tertiary);
    border-radius: 10px;
    padding: 0.5rem 0px 0.5rem 0px;

    ion-col{padding: 0px; margin: 0px;}

    .transaction{
      height: 4.2rem;
      border-bottom: 0.0008rem solid var(--ion-color-tertiary-tint);
      padding: 0.5rem;
      

      ion-col{

        &.amount-date{
          h4{
            span{
              border-radius: 50px;
              padding: 0rem 0.5rem .05rem 0.5rem
            }
          }
          p{
            margin-top: 0.2rem;
          }
        }
        
        p{
          font-size: 0.7rem;
        }
      }.trans-name{
        p{ 
          color: var(--ion-color-primary);
          margin: 0.2rem 0px;
          font-size: 0.8rem;
        }
      }

      p, h4, h6{
        margin: 0px;
      }

      h4, h6{
        font-weight: bolder;
      }

      h4{
        font-size: 1.2rem;
      }

      ion-icon{
        font-size: 0.7rem; //0.9rem;
      }.circle{
        font-size: 2.5rem;
      }

    }:last-child{
      border-bottom: none;
    }

  }

}

.trans-spinner{
  position: absolute;
  top: 70%;
  left: 45%;
}

.no-transactions{
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  width: 100%;
  top: 60%;
}

ion-fab{
  margin-bottom: 1.5rem;
  margin-right: 0.7rem;

  ion-fab-button{
    height: 4rem;
    width: 4rem;
    box-shadow: 4px 11px 18px -14px rgba(229,63,39,0.81);
    border-radius: 100px;
  }
}