<ion-content>
  <ion-grid class="tabs-area">
    <ion-row>
      <ion-col size="12" class="name-heading ion-text-center">
        <p>Wallet</p>
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row class="balance-row">
      <ion-col size="12" class="ion-text-center">
        <div class="balance-wrapper">
          <p>Available Balance</p>
          <h1><ion-icon src="assets/imgs/naira.svg"></ion-icon> 87,000</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="wallet-action-row">
      <ion-col size="12" class="ion-text-cente">
        <div tappable (click)="openPaymentModal()" class="wallet-action">
          <ion-icon src="assets/imgs/payment.svg"></ion-icon>
          <p>Payment</p>
        </div>
        <div tappable class="wallet-action">
          <ion-icon src="assets/imgs/transfer.svg"></ion-icon>
          <p>Transfer</p>
        </div>
        <div tappable class="wallet-action">
          <ion-icon src="assets/imgs/fund.svg"></ion-icon>
          <p>Top Up</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="recent-trans-row">
      <ion-col size="12">
        <p><span>Recent Transactions</span> <span>See all</span></p>
        <div class="transactions-list">
          <div class="transaction">
            <ion-row>
              <ion-col size="2">
                <ion-icon class="circle" src="assets/imgs/circle-add.svg"></ion-icon>
              </ion-col>
              <ion-col class="trans-name">
                <h6>Top Up</h6>
                <p>##</p>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <h4>
                  <ion-icon src="assets/imgs/naira.svg"></ion-icon>7,000,000
                </h4>
                <p>Mar 23, 2020</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="transaction">
            <ion-row>
              <ion-col size="2">
                <ion-icon class="circle" src="assets/imgs/circle-go.svg"></ion-icon>
              </ion-col>
              <ion-col class="trans-name">
                <h6>Transfer</h6>
                <p>Wallet</p>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <h4>
                  <ion-icon src="assets/imgs/naira.svg"></ion-icon>7,000
                </h4>
                <p>Mar 23, 2020</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="transaction">
            <ion-row>
              <ion-col size="2">
                <ion-icon class="circle" src="assets/imgs/circle-forward.svg"></ion-icon>
              </ion-col>
              <ion-col class="trans-name">
                <h6>Payment</h6>
                <p>Dunes Center</p>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <h4>
                  <ion-icon src="assets/imgs/naira.svg"></ion-icon>7,000,000
                </h4>
                <p>Mar 23, 2020</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="transaction">
            <ion-row>
              <ion-col size="2">
                <ion-icon class="circle" src="assets/imgs/circle-add.svg"></ion-icon>
              </ion-col>
              <ion-col class="trans-name">
                <h6>Top Up</h6>
                <p>##</p>
              </ion-col>
              <ion-col size="5" class="ion-text-right">
                <h4>
                  <ion-icon src="assets/imgs/naira.svg"></ion-icon>7,000,000
                </h4>
                <p>Mar 23, 2020</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
