<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="ios-arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col size="12" class="name-heading-alt ion-text-left">
        <p>Select Merchant</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="search-row">
      <ion-col size="10" class="legend-input">
        <ion-item>
          <ion-input placeholder="Search Merchant" type="text" name="merchant" [(ngModel)]="merchant"></ion-input>
          <ion-icon slot="end" color="white" name="search"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <div tappable (click)="searchMerchant()" class="icon-wrapper ion-activatable ripple-parent">
          <ion-icon color="primary" src="assets/imgs/send.svg"></ion-icon>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>

    <p
    *ngIf="!(merchants?.length <= 0 && !showLoading)"
      class="merchants-row-heading">Top Merchants 
      <span tappable (click)="openAllMerchantsModal()">
       See all
      </span>
    </p>

    <ion-row class="merchants-row">
      <ion-col size="12" *ngFor="let merchant of topMerchants" >
        <div tappable (click)="openSelectProductModal(merchant)" class="merchant">
          <ion-row>
            <ion-col size="3">
              <div class="merchant-img-wrapper">
                <img [src]="merchantImgBaseUrl+merchant.image">
              </div>
            </ion-col>
            <ion-col size="9">
              <h4>{{merchant?.name}}</h4>
              <p>Location: {{merchant?.location}}</p> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openQRPageModal()">
      <ion-icon src="assets/imgs/qr.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-spinner class="spinner" *ngIf="merchants?.length <= 0 && showLoading" name="dots"></ion-spinner>

  <div class="no-merchants" *ngIf="merchants?.length <= 0 && !showLoading">No merchants available!</div>

</ion-content>
