<ion-content class="no-scroll">
  <ion-grid class="tabs-area">
    <ion-row>
      <ion-col size="12" class="ion-text-right username">
        <p>{{profile?.username || "..."}}</p>
      </ion-col>
      <ion-col size="12" class="name-heading ion-text-center">
        <p>{{greetMsg}}, <span>{{user?.firstName}}</span></p>
        <p></p>
      </ion-col>
      <ion-col size="12">
        <div class="parent-circle"></div>
        <div class="circle-wrapper" [ngStyle]="{'transform': rotateCircle ? 'rotate(' + (rotateCirclePos+12) + 'deg)' : 'rotate('+ rotateCirclePos +'deg)' }">
          <!-- <div class="small-circle" ></div>
          <div class="swoosh"></div> -->
        </div>
        <div class="circle animated pulse">
          <p>{{balance?.bundle.substring(0,38) || "......"}}</p>
          <p>Days Left <br/><span #numberFlip>{{daysLeft || "..."}}</span></p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div class="btn-wrapper">
          <ion-button class="legend-btn ion-text-capitalize" type="button" (click)="openBundleDetailsModal()" [disabled]="!balance">My Legend Pay</ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class=" ion-text-center summary-blocks">
        <div>
          <ion-icon src="assets/imgs/rewards.svg"></ion-icon>
          <p>Rewards Points <br/><span>{{'321'|| "..."}}</span></p>
        </div>
        <div (click)="goToTab('wallet')">
          <ion-icon src="assets/imgs/wallet_fixed.svg"></ion-icon>
          <p>My Wallet <br/><span *ngIf="balance"><ion-icon class="naira" src="assets/imgs/naira.svg"></ion-icon> {{balance?.balance}}</span><span *ngIf="!balance">......</span></p>
        </div>
        <div (click)="openBundleDetailsModal()" *ngIf="subscribeNow" class="alt">
          <ion-icon src="assets/imgs/status-alt.svg"></ion-icon>
          <p>Renew Subscr...<br/><span *ngIf="balance"><ion-icon class="naira" src="assets/imgs/naira.svg"></ion-icon> {{balance?.prod_balance}}</span><span *ngIf="!balance">......</span></p>
        </div>
        <div (click)="openBundleDetailsModal()" *ngIf="!subscribeNow">
          <ion-icon src="assets/imgs/status.svg"></ion-icon>
          <p>My Subscription <br/><span *ngIf="balance"><ion-icon class="naira" src="assets/imgs/naira.svg"></ion-icon> {{balance?.prod_balance}}</span><span *ngIf="!balance">......</span></p>
        </div>
      </ion-col>
      <!-- <ion-col size="12">
        <div class="btn-wrapper">
          <ion-button class="legend-btn legend-btn-inverse ion-text-capitalize" (click)="openManageDevices()" type="button">Manage Devices</ion-button>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
