// Common global styles for whole app

ion-toggle {
    --background: var(--ion-color-tertiary);
}

//To prevent default scrolling
.no-scroll .scroll-content {
    overflow: hidden;
  }

//Grid style for login and signup
ion-grid.auth-body{
    margin-top: 35%;
    --ion-grid-padding: 20px;
}


/** 
    Legend Inputs
**/

ion-col{
    margin: 0.5rem auto;

    &.logo-area{
        img { width: 25%; }
    }

}.legend-input{

    ion-icon{color: #FFFFFF;}
    
    ion-item{
    --border-width: 1.5px;
    --border-radius: 8px;
    --border-color: var(--ion-color-primary);
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    --inner-border-width: 0px;
    --inner-padding-bottom: .3rem;
    --inner-padding-top: .3rem;
    
        ion-label{
            opacity: 0.8;
        }
    }

    ion-input {
    --background: transparent;
    --color: #FFFFFF;
    font-size: 1rem;
    --placeholder-color: #FFFFFF;
    --placeholder-opacity: 0.8;
    --highlight-color-focused: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-valid: transparent;
    }
}

// Default Legend buttons

// .btn-wrapper{
//     width: 100%;
//     text-align: center;
//     border: 4px solid var(--ion-color-tertiary-shade);
//     border-radius: 8px;
// }

ion-button.legend-btn{
    // font-weight: bolder;
    margin: 0px;
    width: 100%;
    height: 3.45rem;
    --border-radius: 6px;
    --box-shadow: none;

    &.legend-btn-inverse{
        font-weight: bolder;
        --background: var(--ion-color-tertiary);
        --color: var(--ion-color-primary);
        --background-activated: var(--ion-color-tertiary);
        --background-focused: var(--ion-color-tertiary);
        --background-hover: var(--ion-color-tertiary);
        --border-color: var(--ion-color-tertiary);
        --border-style: solid;
        --border-width: 1.5px;
    }
}

/** 
    Authentication Form
**/
.auth-form{
    p { font-size: 0.9rem;}
    .btn-wrapper+p a{ color: var(--ion-color-primary); }
    a { color: #FFFFFF; }
}


/** 
    Tabs Area Styles
**/

ion-grid.tabs-area{
    --ion-grid-padding: 20px;
}

// Name headings of Tabs in Tabs area
.name-heading{
    p{ margin: .625rem auto; }
    span{
        font-family: SourceSansPro;//MuliLight; 
        font-weight: bold; 
    }
    p:last-child{
        height: 7px;
        width: 30%;
        background-color: var(--ion-color-primary);
    }
}

.name-heading-alt{
    margin-top: 2rem;
    p{
        font-size: 1.5rem;
        font-family: SourceSansPro-Light;
        font-weight: bolder;
        margin: 0px;
    }
}

/** 
    Alerts and pop ups
**/
.alert-title.sc-ion-alert-md,
.alert-title.sc-ion-alert-ios{
    color: var(--ion-color-tertiary);
}

.sc-ion-alert-md-h,
.sc-ion-alert-ios-h{
    --background:#FFFFFF;
}

.alert-message.sc-ion-alert-ios{
    color: var(--ion-color-tertiary);
}

//Style for select box pop up on ios
.alert-radio-label.sc-ion-alert-ios{
    color: var(--ion-color-tertiary);
}

// Custom Alert/Dialog Modal
.legend-alert{
    .alert-wrapper.sc-ion-alert-md,
    .alert-wrapper.sc-ion-alert-ios{
        background-color: #000000;
        border: 1.5px solid var(--ion-color-primary);
        border-radius: 8px;
        width: 80%;
        max-width: 80%;
        height: 15rem;
        max-height: 15rem;
    }
    
    .alert-message.sc-ion-alert-md,
    .alert-message.sc-ion-alert-ios{
        padding: 0px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 1.1rem;
        font-weight: bolder;
        span{
            color: var(--ion-color-primary);
        }
    }

    .alert-message.sc-ion-alert-ios{
        margin-top: 2.5rem;
        margin-bottom: 4rem;
    }
    
    .alert-button-group.sc-ion-alert-md{
        justify-content: center;
    }

    
    .alert-button-inner.sc-ion-alert-md{
        justify-content: center;
    }

    .alert-button.sc-ion-alert-md{
        background-color: var(--ion-color-primary);
        color: #FFFFFF;
        border-radius: 5px;
        width: 6.5rem;
    }

    .alert-button.sc-ion-alert-ios{
        color: var(--ion-color-primary);
    }
    
    
    .alert-title.sc-ion-alert-md,
    .alert-title.sc-ion-alert-ios{
        color: #FFFFFF;
        text-align: center;
    }
    
    .sc-ion-alert-md-h,
    .sc-ion-alert-ios-h{
        --background:#FFFFFF;
    }

}

.legend-alert.info-display{

    .alert-wrapper.sc-ion-alert-md,
    .alert-wrapper.sc-ion-alert-ios{
        height: unset;
        max-height: 25rem;
    }

    .alert-title.sc-ion-alert-md,
    .alert-title.sc-ion-alert-ios{
        color: var(--ion-color-primary);
    }

    .alert-message.sc-ion-alert-md,
    .alert-message.sc-ion-alert-ios{
        padding: 0 1.2rem;
        text-align: justify;
        margin-top: 0px;
        margin-bottom: .5rem;
        font-size: .9rem;
        font-weight: lighter;
    }
}



/** 
    Action Sheet
**/
.action-sheet-group{
    --background: #FFFFFF;
    --button-background: #FFFFFF;
    --color: var(--ion-color-tertiary);

    .action-sheet-cancel.sc-ion-action-sheet-ios{
        background: #FFFFFF;
    }

    .action-sheet-selected.sc-ion-action-sheet-ios,
    .action-sheet-selected.sc-ion-action-sheet-md{
        color: var(--ion-color-primary);
    }
}






/** 
    Modals Styles
**/
.legend-modal{
    ion-icon{
        font-size: 2rem;
    }
}

//Takes care of large screens
.sc-ion-modal-md-h,
.sc-ion-modal-ios-h{
    --min-width: 100%;
    --min-height: 100%;
}


/** 
    Common Merchant Style
**/

.merchants-row{
    p, h4{
      margin: 0px;
    }
    ion-col[size="12"]{ //Whole column
      margin: 3px 0px;
    }
}

.merchant{
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    height: 5.7rem;
    background-color: var(--ion-color-tertiary);
    border-radius: 10px;

    ion-col{

    }[size="3"]{
      div{
        display: table-cell;
        vertical-align: middle;
        // padding-top: 0.4rem;
        text-align: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 8px;
        background-color: transparent;
        box-shadow: 0px 1px 8px 0px rgba(229,63,39,0.5);

        img{
            max-width: 42px;
            max-height: 42px;
        }
      }
    }

    h4{
      font-size: 1rem;
      font-weight: bolder;
    }

    p{
      font-size: 0.8rem;
    }

  }

  /* smaller devices */
@media only screen and (max-width: 375px) {
    .name-heading{
        margin: 0;
        p{ margin: .1rem auto .5rem auto; }
    }
}