@font-face {
  font-family: SourceSansPro;
  src: url('assets/fonts/ssp/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url('assets/fonts/ssp/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: SourceSansProBold;
  src: url('assets/fonts/ssp/SourceSansPro-Bold.ttf');
}

*{
  // font-family: Muli;
  --ion-font-family: SourceSansPro-Light;
}

html{
  font-size: 107%;
}

/* smaller devices */
@media only screen and (max-width: 375px) {
  html{
    font-size: 97%;
  }
}