@font-face {
  font-family: MuliBold;
  src: url('assets/fonts/muli_0.woff2');
}

@font-face {
  font-family: Muli;
  src: url('assets/fonts/muli/Muli-ExtraLight.ttf');
}

@font-face {
  font-family: MuliLight;
  src: url('assets/fonts/muli/Muli-Light.ttf');
}

@font-face {
  font-family: SourceSansPro;
  src: url('assets/fonts/ssp/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url('assets/fonts/ssp/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: SourceSansProBold;
  src: url('assets/fonts/ssp/SourceSansPro-Bold.ttf');
}

*{
  // font-family: Muli;
  --ion-font-family: SourceSansPro;
}

html{
  font-size: 107%;
}

/* smaller devices */
// @media only screen and (max-width: 375px) {
//   html{
//     font-size: 93.75%;
//   }
// }