<ion-content>

  <ion-row class="title-row">
    <ion-col size="12" class="ion-text-center">
      <p>Title</p>
    </ion-col>
  </ion-row>

  <ion-row class="subtitle-row">
    <ion-col size="12" class="ion-text-center">
      <p>Title</p>
    </ion-col>
  </ion-row>

  <ion-row class="buttons-row">
    <ion-col size="12">
      <div class="btn-wrapper">
        <ion-button class="legend-btn ion-text-capitalize" color="primary" type="button">Make Purchase</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
