.legend-input{
    span{
        margin-right: 10px;
        ion-icon{
            font-size: 14px;
        }
    }
}

ion-button.legend-btn.legend-btn-inverse{
    --background: var(--ion-color-secondary);
    --background-activated: var(--ion-color-secondary);
    --background-focused: var(--ion-color-secondary);
    --background-hover: var(--ion-color-secondary);
    --border-color: var(--ion-color-primary);
}

.legend-btn-inverse.select-btn{
    text-align: left;
    color: #FFF;
}

.bundle-type{
    margin-left: -55%;
    font-size: .8rem;
}

.bundle-type-text{
    position: absolute;
    right: 1rem;
    font-size: x-small;
}