<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="7" class="name-heading-alt ion-text-left">
        <p>Select new plan</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <form class="auth-form" (ngSubmit)="buyBundle(bundleForm)" #bundleForm="ngForm">
      <ion-row>
        <ion-col size="12" class="legend-input">
          <ion-button class="legend-btn legend-btn-inverse select-btn ion-text-capitalize" (click)="openBundleTypesModal()"  type="button">
            <span class="bundle-type">Select Product:</span>
            <span class="bundle-type-text">{{chosenBundle?.products_name.substring(0, 22) | uppercase}}</span>
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <div class="btn-wrapper">
            <ion-button class="legend-btn ion-text-capitalize" color="primary" type="submit">Subscribe</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>