ion-tab-bar{
    --background: var(--ion-color-secondary);
    --border: 3px solid var(--ion-color-tertiary);
    height: 5rem;
}

ion-tab-button{
    --color: #FFFFFF;
    ion-icon{
        font-weight: bolder;
        font-size: 1rem;

        &.home{
            font-size: 1.3rem;
            margin-top: 0px;
        }
    }
    ion-label{
        font-family: SourceSansPro-Light;//Muli;
        font-size: .8rem;
    }
}