ion-tab-bar{
    --background: var(--ion-color-secondary);
    height: 9%;
}

ion-tab-button{
    --color: #FFFFFF;
    ion-icon{
        font-weight: bolder;
        font-size: 13px;
    }
    ion-label{
        font-family: Muli;
    }
}