<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/imgs/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payment">
      <ion-icon src="assets/imgs/payment.svg"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logs">
      <ion-icon src="assets/imgs/logs.svg"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/imgs/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
