.legend-input{
    span{
        margin-right: 10px;
        ion-icon{
            font-size: 14px;
        }
    }
}

.legend-btn-inverse{
    text-align: left;
    color: #FFF;
}

.bundle-type-text{
    margin-left: -60%;
}