<ion-content class="ion-no-padding" scrollY="false">
    <ion-grid class="tabs-area">
      <ion-row>
        <ion-col size="12" class="name-heading ion-text-center">
          <p> Transaction Logs</p>
          <p></p>
        </ion-col>
        <ion-col>
          <!-- <ion-toolbar> -->
            <ion-segment (ionChange)="segmentChanged($event)" value="payment">
                <ion-segment-button value="usage">
                  Usage Log
                </ion-segment-button>
                <ion-segment-button value="payment">
                  Payment Records
                </ion-segment-button>
                <ion-segment-button value="financial">
                  Financial <br/> Checkout List
                </ion-segment-button>
            </ion-segment>
          <!-- </ion-toolbar> -->
        <div [ngSwitch]="category">
          <div *ngSwitchCase="'usage'">
            <div id="scroll-content" scrolly="true">
              <ion-list *ngFor="let log of usageLogs let i = index;">
                <log-view [log]="log" [logCategory]="'usage'" tappable (click)="toggleItem('usage', i)"></log-view> 
                <div *ngIf="log.total_bytes && log.open" class="log-content">
                  <p><span>Detail ID:</span><span>{{ log.detail_id}}</span></p>
                  <p><span>Total Bytes:</span><span>{{ log.total_bytes}}</span></p>
                  <p><span>Time Long:</span><span>{{ log.time_long }}</span></p>
                  <p><span>User Charge:</span><span>{{ log.user_charge}}</span></p>
                </div>
              </ion-list>
              <div class="spinner-wrapper" *ngIf="!usageLogs">
                <ion-spinner name="dots"></ion-spinner>
              </div>
              <p *ngIf="usageLogs && usageLogs?.length <= 0" class="no-data-message">You have no usage log history.</p>
            </div>
          </div>
          <div *ngSwitchCase="'payment'">
            <div id="scroll-content" scrolly="true">
              <ion-list *ngFor="let log of records let i = index;">
                <log-view [log]="log" [logCategory]="'records'" tappable (click)="toggleItem('records', i)"></log-view> 
                <div *ngIf="log.amount && log.open" class="log-content">
                  <p><span>Pay Amount:</span><span><ion-icon style="font-size: 0.65rem;" src="assets/imgs/naira.svg"></ion-icon> {{log.amount}}</span></p>
                  <p><span>Pay Type:</span><span>LegendPay</span></p>
                  <p><span>Pay Date:</span><span>{{log.dateraw | date}}</span></p>
                  <p><span>Pay Time:</span><span>{{ log.date }}</span></p>
                </div>
              </ion-list>
              <div class="spinner-wrapper" *ngIf="!records">
                <ion-spinner name="dots"></ion-spinner>
              </div>
              <p *ngIf="records && records?.length <= 0" class="no-data-message">You have no payment records history.</p>
            </div>
            <ion-footer></ion-footer>
          </div>
          <div *ngSwitchCase="'financial'">
            <div id="scroll-content" scrolly="true">
              <ion-list *ngFor="let log of financialLogs let i = index;">
                <log-view [log]="log" [logCategory]="'financial'" tappable (click)="toggleItem('financial', i)"></log-view>
                <div *ngIf="log.username && log.open" class="log-content">
                  <p><span>ID:</span><span>{{log.id}}</span></p>
                  <p><span>Username:</span><span>{{log.username}}</span></p>
                  <p><span>Minutes:</span><span>{{log.minutes}}</span></p>
                  <p><span>Create Time:</span><span>{{log.date}}</span></p>
                </div>
              </ion-list>
              <div class="spinner-wrapper" *ngIf="!financialLogs">
                <ion-spinner name="dots"></ion-spinner>
              </div>
              <p *ngIf="financialLogs && financialLogs?.length <= 0" class="no-data-message">You have no financial log history.</p>
            </div>
          </div>
        </div>   
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
