<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>

  <ion-grid>
    
    <ion-row>
      <ion-col size="7" class="name-heading-alt ion-text-left">
        <p>Product Information</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="product-details">
          <p>
            <span>Product Name</span><br>
            <span>{{currentBundle.bundle || '---'}}</span>
          </p>
          <div class="prices">
            <p>
              <span>Product Amount</span><br>
              <span><ion-icon src="assets/imgs/naira.svg"></ion-icon>{{formatWithCommas(currentBundle.price) || '---'}}</span>
            </p>
            <p>
              <span>Product Balance</span><br>
              <span><ion-icon src="assets/imgs/naira.svg"></ion-icon>{{currentBundle.prod_balance || '---'}}</span>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="action-row">
      <ion-col size="12" class="ion-text-center">
        <div tappable  class="action" *ngIf="currentBundle?.bundle_id !== 22" (click)="openRenewBundleModal()">
          <ion-icon src="assets/imgs/renewals.svg"></ion-icon>
          <p>Renewals</p>
        </div>
        <div class="action" *ngIf="currentBundle.renew === '1' ">
          <div tappable *ngIf="currentBundle.bundle_id !== 22" (click)="openBuyBundleModal()">
            <ion-icon src="assets/imgs/switch-plan.svg"></ion-icon>
            <p>Switch plan</p>
          </div>
          <div tappable *ngIf="currentBundle.bundle_id === 22" (click)="openBuyBundleModal()">
            <ion-icon src="assets/imgs/switch-plan.svg"></ion-icon>
            <p>Subscribe a plan</p>
          </div>
        </div>
        <div class="action" *ngIf="currentBundle.renew === '0' ">
          <div tappable *ngIf="currentBundle.bundle_id !== 22" (click)="openBuyBundleModal()">
            <ion-icon src="assets/imgs/switch-plan.svg"></ion-icon>
            <p style="font-size: .85rem; margin-left: -.5rem;">Request plan change</p>
          </div>
        </div>
        <div tappable (click)="openSearchForFriendModal()" class="action">
          <ion-icon src="assets/imgs/payment-friend.svg"></ion-icon>
          <p>Pay for a Friend</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center">
        <div class="btn-wrapper" *ngIf="currentBundle?.bundle_id !== 22">
          <ion-button class="legend-btn ion-text-capitalize" color="primary" type="button" (click)="openRenewBundleModal()">Renew Bundle</ion-button>
        </div>
        <div *ngIf="currentBundle.renew === '1' ">
          <p><a [routerLink]="" (click)="openBuyBundleModal()" *ngIf="currentBundle.bundle_id !== 22">Switch Plans</a></p>
          <p><a [routerLink]="" (click)="openBuyBundleModal()" *ngIf="currentBundle.bundle_id === 22">New Subscription</a></p>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>
