.product-details{
    position: relative;
    padding: 0.5rem;
    height: 14rem;
    width: 100%;
    background: var(--ion-color-secondary);
    border: 1.2px solid var(--ion-color-primary);
    border-radius: 8px;

    p{
        text-align: center;
        margin: 0.8rem;

        ion-icon{
            font-size: 1.1rem;
        }

        span:first-child{
            font-size: 0.8rem;
            font-weight: bolder;
            color: var(--ion-color-primary);
        }
        span:last-child{
            font-size: 1.4rem;
        }
    }

    p:first-child{
        text-align: left;
    }
    
    .prices{
        p{
            display: inline-block;
        }
        p:last-child{
            float: right;
        }
    }
}

.action-row{
    margin: 0.1rem -3rem;
    .action{
      display: inline-block;
      text-align: center;
      width: 30%;
  
      ion-icon{
        font-size: 50px;
      }
  
      p{
        margin: 0px;
        font-size: 0.85rem;
        font-family: MuliLight;
        font-weight: lighter;
      }
  
    }
  }

ion-col:last-child{
    p{
        font-weight: bolder;
    }
}