// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #E53F27; //FF5000
  --ion-color-primary-rgb: 229,63,39;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #ca3722;
  --ion-color-primary-tint: rgba(196, 72, 56, 0.5);
  --ion-color-primary-tint2: rgba(174, 67, 53, 0.5);

  --ion-color-secondary: #000000;
  --ion-color-secondary-rgb: 0,0,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #000000;
  --ion-color-secondary-tint: #1a1a1a;

  --ion-color-tertiary: #232323;
  --ion-color-tertiary-rgb: 51,51,51;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #2d2d2d;
  --ion-color-tertiary-shade2: #272727;
  --ion-color-tertiary-shade3: #202020;
  --ion-color-tertiary-shade4: #1e1e1e;
  --ion-color-tertiary-tint: #474747;

  /** success **/
  --ion-color-success: #232323;
  --ion-color-success-rgb: 88,177,159;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #4d9c8c;
  --ion-color-success-tint: #69b9a9;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #c73434;
  --ion-color-danger-rgb: 199,52,52;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #af2e2e;
  --ion-color-danger-tint: #cd4848;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  //Custom App theme variables
  --ion-background-color : var(--ion-color-secondary);
  --ion-text-color: var(--ion-color-tertiary-contrast);

}


 