ion-grid.auth-body{
    margin-top: 5%;
    --ion-grid-padding: 20px;

    .name-heading-alt{

        p{
            font-size: 1.8rem;
            &.text-small{
                margin-top: 0.5rem;
                font-size: 0.9rem;
                font-family: SourceSansPro;//MuliLight;
                font-weight: 100;
            }
        }


    }

}

.slide-nav{

    text-align: left;
    margin-bottom: 1.2rem;

    ion-icon{
        font-size: 36px;
    }

    .skip-btn{
        float: right;
    }
}

ion-col{
    margin: 3px auto;

    &.logo-area{
        img { width: 15%; }
    }

    .btn-wrapper{
        margin-top: 1.5rem;
    }
}