ion-item{
  margin-bottom: 0.7rem;
  --background: var(--ion-color-tertiary);
  --border-radius: 7px;

  h3{
    font-size: 1.2rem;
    font-weight: bolder;

    span{
      color: #FFFFFF;
      float: right;

      ion-icon{
        font-size: 0.7rem;//0.95rem;
        margin-top: 8px;
        display: inline-block;
      }
    }
  }

  .sc-ion-label-md-s > p,
  .sc-ion-label-ios-s > p{
    font-size: 0.8rem;
    color: #FFFFFF;
    opacity: 0.7;
    
    span{
      float: right;
      font-weight: bold;
    }
  }
}

ion-fab{
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}