ion-item{
  margin-bottom: 0.7rem;
  --background: var(--ion-color-tertiary);
  --border-radius: 7px;

  ion-label{
    height: 4.4rem;
  }

  ion-row,ion-col{
    margin: 0;
    padding: 0;
  }

  h3{
    font-size: 1rem;
    font-weight: bolder;
  }

  .sc-ion-label-md-s > p,
  .sc-ion-label-ios-s > p{
    font-size: 0.8rem;
    color: #FFFFFF;
    opacity: 0.7;
    
    span{
      float: right;
      font-weight: bold;
    }
  }
}

ion-fab{
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;

  ion-fab-button{
    height: 4rem;
    width: 4rem;
  }
}

.see-more{
  color: var(--ion-color-primary);
  font-weight: bold;
}

