
.points-area{
  margin-top: -1rem;
  &>p{
    span:first-child{
      font-weight: bolder;
      color: var(--ion-color-primary);
    }
  }
}

.product-discount-details{
  position: relative;
  padding: 1rem;
  width: 100%;
  background: var(--ion-color-secondary);
  border: 1.2px solid var(--ion-color-primary);
  border-radius: 8px;

  h2{
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: 0;
  }

  div{
    margin-top: 1rem;
  }

  p {
    margin: 0px;
    font-size: .9rem;

    ion-row, ion-col{
      margin: 0;
      padding: 0;
    }

    ion-col[size="3"], ion-col[size="6"]{
        font-weight: bolder;
        font-size: .95rem;
        color: var(--ion-color-primary);
    }
    ion-col[size="9"], ion-col[size="12"]{
      font-size: .95rem;
      s{ color: var(--ion-color-primary);}
    }
  }
  
}

.btn-row{
  margin-top: .5rem;
}