ion-item{
  --border-style: solid;
  --border-width: 2px;
  --border-color: red;
}

.payment-method{
  width: 100%;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1.2px solid var(--ion-color-primary);
  margin-bottom: 1.3rem;
  background: var(--ion-color-secondary);
  box-shadow: 1px 3px 5px -1px rgba(0,0,0,0.75);
  padding: .6rem 1.2rem;
  span{
    display: inline-block;
    position: relative;

    img{
      position: absolute;
      top: 0.3rem;
      left: 0.1rem;
    }

    &:first-child{
      margin-top: .7rem;
    }

    &:last-child{
      float: right;
      height: 45px;
      width: 45px;
      background: var(--ion-color-secondary);
      border-radius: 50%;
      border: 1.5px solid var(--ion-color-primary);
    }
  }
}

.clearfix::after{
  content: '';
  clear: both;
  display: table;
}
