<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="name-heading ion-text-center">
        <p>Payment Details</p>
        <p></p>
      </ion-col>
    </ion-row>
    <form class="auth-form" (ngSubmit)="fundWallet(fundForm)" #fundForm="ngForm">
      <ion-row>
        <ion-col size="12" class="legend-input">
          <ion-item>
            <ion-label>Amount:</ion-label>
            &nbsp;&nbsp;
            <span>&#x20a6;</span>
            <ion-input  type="text" name="amount" [(ngModel)]="amount"  required></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col size="12" class="legend-input">
          <ion-item>
            <span><ion-icon name="keypad"></ion-icon></span>
            <ion-label>Amount</ion-label>
            <ion-input maxlength="4" type="password" name="pin" ngModel></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col size="12" class="ion-text-center">
          <div class="btn-wrapper">
            <ion-button class="legend-btn ion-text-capitalize" color="primary" type="submit">Make Payment</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>