<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="ios-arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>

  <ion-grid>
    
    <ion-row>
      <ion-col size="10" class="name-heading-alt ion-text-left">
        <p>Confirm Transfer</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" >
        <ion-text color="primary" class="account-content">
          <h6>Account name</h6>
          <p>{{transferDetails.account_name}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="account-content">
          <h6>Account Number</h6>
          <p>{{transferDetails.account_number}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="account-content">
          <h6>Bank</h6>
          <p>{{transferDetails.bank_name}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="account-content">
          <h6>Amount</h6>
          <p>&#8358;&nbsp;{{formatNumWithCommas(transferDetails.amount)}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div class="btn-wrapper">
          <ion-button (click)="makeTransfer()" class="legend-btn ion-text-capitalize" color="primary" type="button">Make Transfer</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
