<ion-content>
  <ion-grid class="tabs-area">
    <ion-row>
      <ion-col size="12" class="name-heading ion-text-center">
        <p>User Profile</p>
        <p></p>
      </ion-col>
      <ion-col size="12" class="col-profile-details">
        <div class="profile-details">
          <div class="profile-image-wrapper"></div>
          <div class="profile-image animated pulse">
            <h1 class="animated zoomIn">{{user?.firstName.charAt(0) +'.'+ user?.lastName.charAt(0)}} <span *ngIf="!user">{{'---'}}</span></h1>
          </div>
          <div class="profile-details-content">
            <p><span>Username:</span><span>{{profile?.username}}</span><span *ngIf="!profile || !profile.username">{{'-----'}}</span></p>
            <p><span>First Name:</span><span>{{user?.firstName}}</span><span *ngIf="!user || !user.firstName">{{'-----'}}</span></p>
            <p><span>Last Name:</span><span>{{user?.lastName}}</span><span *ngIf="!user || !user.lastName">{{'-----'}}</span></p>
            <p><span>Mobile:</span><span>+{{profile?.phone}}</span><span *ngIf="!profile || !profile.phone">{{'-----'}}</span></p>
            <p><span>Email:</span><span>{{profile?.email}}</span><span *ngIf="!profile || !profile.email">{{'-----'}}</span></p>
            <hr/>
            <p><span>Street Number:</span><span>{{profile?.street}}</span><span *ngIf="!profile || !profile.street">{{'-----'}}</span></p> 
            <p><span>Street Name:</span><span>{{profile?.streetname}}</span><span *ngIf="!profile || !profile.streetname">{{'-----'}}</span></p> 
            <p><span>City:</span><span>{{profile?.city}}</span><span *ngIf="!profile || !profile.city">{{'-----'}}</span></p> 
            <hr/>
            <p><span>QR Code:</span>
              <span tappable (click)="openQRCodeModal()" class="qr">
                <ion-icon src="assets/imgs/qr-img.svg"></ion-icon>
              </span>
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="btn-wrapper">
          <ion-button class="legend-btn ion-text-capitalize" type="button" [disabled]="!profile" (click)="openEditProfileModal()">Edit Profile</ion-button>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="btn-wrapper">
          <ion-button class="legend-btn legend-btn-inverse ion-text-capitalize" [disabled]="!profile" type="button" (click)="logout()">Log Out</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
