.services-row{
  margin-top: 1rem;

  .service{
    width: 95%;
    height: 5rem;
    margin: 0 auto;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
    // box-shadow: 0 .3rem 1rem rgba(229,63,39,0.4);
    padding-left: .8rem;


    img{
      width: 90%;
      height: 100%;
    }
  }
}