<ion-content class="ion-padding legend-modal">

  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="10" class="name-heading-alt ion-text-left">
        <p>Product Renewals</p>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <ion-text color="primary" class="renew-content">
          <h6>Username</h6>
          <p>{{profile.username}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="renew-content">
          <h6>Main Balance</h6>
          <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>  {{currentBundle.balance}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="renew-content">
          <h6>Product Name</h6>
          <p> {{currentBundle.bundle}} </p>
        </ion-text>
      </ion-col>
      <ion-col size="12" >
        <ion-text color="primary" class="renew-content">
          <h6>Product Amount</h6>
          <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>  {{formatNumWithCommas(currentBundle.price)}}</p>
        </ion-text>
      </ion-col>
      <form #renewForm="ngForm" (ngSubmit)="renewBundle(renewForm)" style="width: 100%;">
        <ion-row>
          <ion-col size="12">
            <span>Auto Renewal</span>
            <ion-toggle style="float: right;" color="primary" name="toggle" [(ngModel)]="toggle" (ionChange)="onToggle()"></ion-toggle>
          </ion-col>
          <ion-col size="12" class="legend-input animated bounceIn" *ngIf="toggle">
            <ion-item>
              <ion-label>Select renewal plan</ion-label>
              <ion-select interface="action-sheet" name="chosenPlan" [(ngModel)]="chosenPlan" (ionChange)="calculateAmount()">
                <ion-select-option [value]="plan" *ngFor="let plan of plans">{{plan.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="legend-input">
            <p>Amount</p>
            <ion-item class="amount">
              <ion-icon src="assets/imgs/naira.svg"></ion-icon>
              &nbsp;&nbsp;
              <ion-input  type="text" name="amount" [(ngModel)]="_amount" (ionChange)="refreshModel()" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <div class="btn-wrapper">
              <ion-button class="legend-btn ion-text-capitalize" color="primary" type="submit">Proceed</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>

</ion-content>

