<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>

  <ion-grid>

    <ion-row class="merchants-row">
      <ion-col size="12">
        <div class="merchant">
          <ion-row>
            <ion-col size="3">
              <div></div>
              <!-- <img src=""> -->
            </ion-col>
            <ion-col size="9">
              <h4>{{merchant.name}}</h4>
              <p>Status: {{merchant.status}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="button-row">
      <ion-col size="12" class="ion-text-center">
        <div class="btn-wrapper" (click)="openPayMerchantModal(true)">
          <ion-button class="legend-btn ion-text-capitalize" color="primary" type="button">Direct Payment</ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h4><span>Or</span> <br/> <br/> Select Product</h4>
      </ion-col>
    </ion-row>

    <ion-row class="top-products-row">
      <ion-col size="12">
        <p *ngIf="!(products?.length <= 0 && !showLoading)"><span>Top Products</span> <span tappable (click)="openAllProductsModal()">See all</span></p>
        <div class="products-list" *ngIf="products?.length > 0">
          <div tappable class="product" *ngFor="let product of products | slice: 0:4"  (click)="openPayMerchantModal(false, product)">
            <ion-row>
              <ion-col size="6">
                <p> {{product.name}} </p>
              </ion-col>
              <ion-col class="price ion-text-right">
                <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>{{product.price}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner class="spinner" *ngIf="showLoading && products?.length <= 0" name="dots"></ion-spinner>

  <div class="no-products" *ngIf="products?.length <= 0 && !showLoading">No products available for {{merchant.name}}</div>

</ion-content>
