<ion-content class="ion-padding legend-modal">
  <div>
    <ion-icon name="arrow-back" color="primary" (click)="closeModal()"></ion-icon>
  </div>

  <ion-grid>

    <ion-row class="merchants-row">
      <ion-col size="12">
        <div class="merchant">
          <ion-row>
            <ion-col size="3">
              <div></div>
              <!-- <img src=""> -->
            </ion-col>
            <ion-col size="9">
              <h4>Dunes Center</h4>
              <p>Location: Abuja</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="button-row">
      <ion-col size="12" class="ion-text-center">
        <div class="btn-wrapper">
          <ion-button class="legend-btn ion-text-capitalize" color="primary" type="button">Direct Payment</ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <h4><span>Or</span> <br/> <br/> Select Product</h4>
      </ion-col>
    </ion-row>

    <ion-row class="top-products-row">
      <ion-col size="12">
        <p><span>Top Products</span> <span>See all</span></p>
        <div class="products-list">
          <div class="product">
            <ion-row>
              <ion-col size="6">
                <p> Installation </p>
              </ion-col>
              <ion-col class="price ion-text-right">
                <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>150,000</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="product">
            <ion-row>
              <ion-col size="6">
                <p> Installation </p>
              </ion-col>
              <ion-col class="price ion-text-right">
                <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>150,000</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="product">
            <ion-row>
              <ion-col size="6">
                <p> Installation </p>
              </ion-col>
              <ion-col class="price ion-text-right">
                <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>150,000</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="product">
            <ion-row>
              <ion-col size="6">
                <p> Installation </p>
              </ion-col>
              <ion-col class="price ion-text-right">
                <p><ion-icon src="assets/imgs/naira.svg"></ion-icon>150,000</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
